<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>600</key>
	<string>用戶被凍結</string>
	<key>601</key>
	<string>未設置支付方式</string>
	<key>602</key>
	<string>保證金不足</string>
	<key>603</key>
	<string>參數無效</string>
	<key>608</key>
	<string>暫不支持</string>
	<key>609</key>
	<string>驗證助記詞合法性</string>
	<key>610</key>
	<string>不支持外部導入</string>
	<key>611</key>
	<string>ETH不足</string>
	<key>612</key>
	<string>該幣種不存在</string>
	<key>613</key>
	<string>餘額不足</string>
	<key>614</key>
	<string>請稍後重試</string>
	<key>615</key>
	<string>請重新提取</string>
	<key>616</key>
	<string>請稍後重試</string>
	<key>617</key>
	<string>餘額不足</string>
	<key>618</key>
	<string>餘額不足</string>
	<key>619</key>
	<string>請先設置支付方式</string>
	<key>620</key>
	<string>請先設置支付方式</string>
	<key>621</key>
	<string>法幣及支付方式關聯關係不存在</string>
	<key>622</key>
	<string>不能重複添加</string>
	<key>623</key>
	<string>數據不存在</string>
	<key>624</key>
	<string>請先設置支付方式</string>
	<key>625</key>
	<string>幣種不存在</string>
	<key>626</key>
	<string>請先設置支付方式</string>
	<key>627</key>
	<string>請先綁定手機號</string>
	<key>628</key>
	<string>PIN錯誤</string>
	<key>629</key>
	<string>審核期間不允許提取保證金</string>
	<key>630</key>
	<string>充值保證金失敗</string>
	<key>631</key>
	<string>提取保證金失敗</string>
	<key>632</key>
	<string>充值保證金失敗</string>
	<key>633</key>
	<string>設置當前步驟失敗</string>
	<key>634</key>
	<string>請完成當前所有設置</string>
	<key>635</key>
	<string>充值失敗，請稍後重試</string>
	<key>636</key>
	<string>該法幣不存在</string>
	<key>637</key>
	<string>承兌商規則未配置</string>
	<key>638</key>
	<string>小於最低充值數量</string>
	<key>639</key>
	<string>請稍後重試</string>
	<key>640</key>
	<string>請刷新後重試</string>
	<key>641</key>
	<string>設置扣款順序失敗，請稍後重試</string>
	<key>642</key>
	<string>您有未完成訂單，請完成訂單後才能提取保證金</string>
	<key>643</key>
	<string>請稍後重試</string>
	<key>644</key>
	<string>提取保證金失敗，請稍後重試</string>
	<key>645</key>
	<string>提取保證金失敗，請稍後重試</string>
	<key>646</key>
	<string>請輸入正確的地址</string>
	<key>650</key>
	<string>保證金不足，請調整髮送數量</string>
	<key>700</key>
	<string>非法操作</string>
	<key>701</key>
	<string>請輸入正確的數量</string>
	<key>702</key>
	<string>沒有設置該虛擬幣的OTC交易信息</string>
	<key>703</key>
	<string>沒有設置系統OTC交易相關信息</string>
	<key>704</key>
	<string>沒有設置支付方式</string>
	<key>705</key>
	<string>訂單不存在</string>
	<key>706</key>
	<string>不允許撤單</string>
	<key>707</key>
	<string>訂單已取消</string>
	<key>708</key>
	<string>請選擇承兌商</string>
	<key>709</key>
	<string>承兌商已取消</string>
	<key>710</key>
	<string>訂單已完成</string>
	<key>711</key>
	<string>已延時</string>
	<key>712</key>
	<string>訂單只有處於進行中才能延時</string>
	<key>713</key>
	<string>訂單只有處於進行中才能設置已轉賬</string>
	<key>714</key>
	<string>訂單只有處於已轉賬才能設置確認收款</string>
	<key>715</key>
	<string>訂單只有處於已轉賬才能申訴</string>
	<key>716</key>
	<string>未開通承兌商</string>
	<key>717</key>
	<string>訂單狀態只有處於待報價才能報價</string>
	<key>718</key>
	<string>已超時</string>
	<key>719</key>
	<string>承兌商狀態異常</string>
	<key>720</key>
	<string>請輸入正確的價格</string>
	<key>721</key>
	<string>報價訂單不存在</string>
	<key>722</key>
	<string>報價單只有處於待確認狀態才能被撤銷</string>
	<key>723</key>
	<string>訂單只有處於處理中才能設置報價單</string>
	<key>724</key>
	<string>報價單只有處於待確認狀態下才能被選擇</string>
	<key>725</key>
	<string>請稍後重試</string>
	<key>726</key>
	<string>請稍後重試</string>
	<key>727</key>
	<string>不能重複報價</string>
	<key>728</key>
	<string>沒有初始化用戶詳情信息</string>
	<key>729</key>
	<string>沒有初始化虛擬幣匯率信息</string>
	<key>730</key>
	<string>沒有初始化承兌商規則信息</string>
	<key>731</key>
	<string>沒有初始化系統錢包地址</string>
	<key>732</key>
	<string>請稍後重試</string>
	<key>733</key>
	<string>餘額不足</string>
	<key>734</key>
	<string>請稍後重試</string>
	<key>735</key>
	<string>請稍後重試</string>
	<key>736</key>
	<string>虛擬幣必填</string>
	<key>737</key>
	<string>付款貨幣必填</string>
	<key>738</key>
	<string>支付方式必填</string>
	<key>739</key>
	<string>訂單ID必填</string>
	<key>740</key>
	<string>申報訂單必填</string>
	<key>741</key>
	<string>未登錄</string>
	<key>742</key>
	<string>用戶狀態無效</string>
	<key>743</key>
	<string>禁止交易</string>
	<key>744</key>
	<string>虛擬幣不存在</string>
	<key>745</key>
	<string>法定貨幣不存在</string>
	<key>746</key>
	<string>未上傳文件</string>
	<key>747</key>
	<string>只允許上傳png,jpg,bmp格式的圖片</string>
	<key>748</key>
	<string>請上傳5M以內的圖片</string>
	<key>749</key>
	<string>沒有設置支付方式</string>
	<key>750</key>
	<string>只有提起申訴才能設置訂單狀態為申訴中</string>
	<key>751</key>
	<string>轉匯確認中，請稍後再試</string>
	<key>960200</key>
	<string>保證金不足</string>
	<key>961300</key>
	<string>餘額不足</string>
	<key>961600</key>
	<string>請稍後重試</string>
	<key>961700</key>
	<string>餘額不足</string>
	<key>962900</key>
	<string>審核期間不允許提取保證金</string>
	<key>963200</key>
	<string>充值保證金失敗</string>
	<key>963800</key>
	<string>小於最低充值數量</string>
	<key>963900</key>
	<string>請稍後重試</string>
	<key>964200</key>
	<string>您有未完成訂單，請完成訂單後才能提取保證金</string>
	<key>973300</key>
	<string>餘額不足</string>
	<key>973400</key>
	<string>請稍後重試</string>
	<key>973500</key>
	<string>請稍後重試</string>
</dict>
</plist>
