<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>600</key>
	<string>用户被冻结</string>
	<key>601</key>
	<string>未设置支付方式</string>
	<key>602</key>
	<string>保证金不足</string>
	<key>603</key>
	<string>参数无效</string>
	<key>608</key>
	<string>暂不支持</string>
	<key>609</key>
	<string>验证助记词合法性</string>
	<key>610</key>
	<string>不支持外部导入</string>
	<key>611</key>
	<string>ETH不足</string>
	<key>612</key>
	<string>该币种不存在</string>
	<key>613</key>
	<string>余额不足</string>
	<key>614</key>
	<string>请稍后重试</string>
	<key>615</key>
	<string>请重新提取</string>
	<key>616</key>
	<string>请稍后重试</string>
	<key>617</key>
	<string>余额不足</string>
	<key>618</key>
	<string>余额不足</string>
	<key>619</key>
	<string>请先设置支付方式</string>
	<key>620</key>
	<string>请先设置支付方式</string>
	<key>621</key>
	<string>法币及支付方式关联关系不存在</string>
	<key>622</key>
	<string>不能重复添加</string>
	<key>623</key>
	<string>数据不存在</string>
	<key>624</key>
	<string>请先设置支付方式</string>
	<key>625</key>
	<string>币种不存在</string>
	<key>626</key>
	<string>请先设置支付方式</string>
	<key>627</key>
	<string>请先绑定手机号</string>
	<key>628</key>
	<string>PIN错误</string>
	<key>629</key>
	<string>审核期间不允许提取保证金</string>
	<key>630</key>
	<string>充值保证金失败</string>
	<key>631</key>
	<string>提取保证金失败</string>
	<key>632</key>
	<string>充值保证金失败</string>
	<key>633</key>
	<string>设置当前步骤失败</string>
	<key>634</key>
	<string>请完成当前所有设置</string>
	<key>635</key>
	<string>充值失败，请稍后重试</string>
	<key>636</key>
	<string>该法币不存在</string>
	<key>637</key>
	<string>承兑商规则未配置</string>
	<key>638</key>
	<string>小于最低充值数量</string>
	<key>639</key>
	<string>请稍后重试</string>
	<key>640</key>
	<string>请刷新后重试</string>
	<key>641</key>
	<string>设置扣款顺序失败，请稍后重试</string>
	<key>642</key>
	<string>您有未完成订单，请完成订单后才能提取保证金</string>
	<key>643</key>
	<string>请稍后重试</string>
	<key>644</key>
	<string>提取保证金失败，请稍后重试</string>
	<key>645</key>
	<string>提取保证金失败，请稍后重试</string>
	<key>646</key>
	<string>请输入正确的地址</string>
	<key>650</key>
	<string>保证金不足，请调整发送数量</string>
	<key>700</key>
	<string>非法操作</string>
	<key>701</key>
	<string>请输入正确的数量</string>
	<key>702</key>
	<string>没有设置该虚拟币的OTC交易信息</string>
	<key>703</key>
	<string>没有设置系统OTC交易相关信息</string>
	<key>704</key>
	<string>没有设置支付方式</string>
	<key>705</key>
	<string>订单不存在</string>
	<key>706</key>
	<string>不允许撤单</string>
	<key>707</key>
	<string>订单已取消</string>
	<key>708</key>
	<string>请选择承兑商</string>
	<key>709</key>
	<string>承兑商已取消</string>
	<key>710</key>
	<string>订单已完成</string>
	<key>711</key>
	<string>已延时</string>
	<key>712</key>
	<string>订单只有处于进行中才能延时</string>
	<key>713</key>
	<string>订单只有处于进行中才能设置已转账</string>
	<key>714</key>
	<string>订单只有处于已转账才能设置确认收款</string>
	<key>715</key>
	<string>订单只有处于已转账才能申诉</string>
	<key>716</key>
	<string>未开通承兑商</string>
	<key>717</key>
	<string>订单状态只有处于待报价才能报价</string>
	<key>718</key>
	<string>已超时</string>
	<key>719</key>
	<string>承兑商状态异常</string>
	<key>720</key>
	<string>请输入正确的价格</string>
	<key>721</key>
	<string>报价订单不存在</string>
	<key>722</key>
	<string>报价单只有处于待确认状态才能被撤销</string>
	<key>723</key>
	<string>订单只有处于处理中才能设置报价单</string>
	<key>724</key>
	<string>报价单只有处于待确认状态下才能被选择</string>
	<key>725</key>
	<string>请稍后重试</string>
	<key>726</key>
	<string>请稍后重试</string>
	<key>727</key>
	<string>不能重复报价</string>
	<key>728</key>
	<string>没有初始化用户详情信息</string>
	<key>729</key>
	<string>没有初始化虚拟币汇率信息</string>
	<key>730</key>
	<string>没有初始化承兑商规则信息</string>
	<key>731</key>
	<string>没有初始化系统钱包地址</string>
	<key>732</key>
	<string>请稍后重试</string>
	<key>733</key>
	<string>余额不足</string>
	<key>734</key>
	<string>请稍后重试</string>
	<key>735</key>
	<string>请稍后重试</string>
	<key>736</key>
	<string>虚拟币必填</string>
	<key>737</key>
	<string>付款货币必填</string>
	<key>738</key>
	<string>支付方式必填</string>
	<key>739</key>
	<string>订单ID必填</string>
	<key>740</key>
	<string>申报订单必填</string>
	<key>741</key>
	<string>未登录</string>
	<key>742</key>
	<string>用户状态无效</string>
	<key>743</key>
	<string>禁止交易</string>
	<key>744</key>
	<string>虚拟币不存在</string>
	<key>745</key>
	<string>法定货币不存在</string>
	<key>746</key>
	<string>未上传文件</string>
	<key>747</key>
	<string>只允许上传png,jpg,bmp格式的图片</string>
	<key>748</key>
	<string>请上传5M以内的图片</string>
	<key>749</key>
	<string>没有设置支付方式</string>
	<key>750</key>
	<string>只有提起申诉才能设置订单状态为申诉中</string>
	<key>751</key>
	<string>转汇确认中，请稍后再试</string>
	<key>960200</key>
	<string>保证金不足</string>
	<key>961300</key>
	<string>余额不足</string>
	<key>961600</key>
	<string>请稍后重试</string>
	<key>961700</key>
	<string>余额不足</string>
	<key>962900</key>
	<string>审核期间不允许提取保证金</string>
	<key>963200</key>
	<string>充值保证金失败</string>
	<key>963800</key>
	<string>小于最低充值数量</string>
	<key>963900</key>
	<string>请稍后重试</string>
	<key>964200</key>
	<string>您有未完成订单，请完成订单后才能提取保证金</string>
	<key>973300</key>
	<string>余额不足</string>
	<key>973400</key>
	<string>请稍后重试</string>
	<key>973500</key>
	<string>请稍后重试</string>
</dict>
</plist>
